<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5 text-center">
        <div class="alert alert-primary" role="alert">
            A simple task manager app
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab non expedita ut totam atque minus adipisci
            accusamus blanditiis saepe! Unde praesentium hic quibusdam expedita ut earum vero animi distinctio Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum error veniam enim cumque placeat doloribus,
            quibusdam iste dolor fugit quas optio aut animi omnis id culpa impedit totam libero.</p>
    </div>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create new task</h5>
                        <p class="card-text">Click below link to add a new task</p>
                        <a href="/task-form" class="btn btn-success">Create Task</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View all tasks</h5>
                        <p class="card-text">Click below link to view all tasks</p>
                        <a href="/tasks-list" class="btn btn-primary">View Tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View Pending tasks</h5>
                        <p class="card-text">Click below link to view pending tasks</p>
                        <a href="/pending-tasks-list" class="btn btn-danger">View Tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View Completed tasks</h5>
                        <p class="card-text">Click below link to view completed tasks</p>
                        <a href="/completed-tasks-list" class="btn btn-success">View Tasks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>