<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5 text-center">
        <div class="alert alert-primary" role="alert">
            Create a new task
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab non expedita ut totam atque minus adipisci
            accusamus blanditiis saepe! Unde praesentium hic quibusdam expedita ut earum vero animi distinctio Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum error veniam enim cumque placeat doloribus,
            quibusdam iste dolor fugit quas optio aut animi omnis id culpa impedit totam libero.</p>
    </div>
    <div class="container mt-3">
      <form action="/save-task" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="date-created" class="form-label">Date Created</label>
                    <input type="date" class="form-control" id="date-created" name="date-created">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="deadline-date" class="form-label">Set deadline date</label>
                    <input type="date" class="form-control" id="deadline-date" name="deadline-date">
                </div>
            </div>
        </div>
        <input type="submit" value="Save Task" class="btn btn-success">
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>